if TARGET_SALVATOR_X

config SYS_SOC
	default "rmobile"

config SYS_BOARD
	default "salvator-x"

config SYS_VENDOR
	default "renesas"

config SYS_CONFIG_NAME
	default "salvator-x"

config FASTBOOT_BY_SW
bool "Enter fastboot by SW22"
	default n
	depends on R8A7795 || R8A7796
	help
	  Allows to enter at fastboot mode while
	  holding down SW22 button

endif
